html {
    height: 100%;
    width: 100%;
    background-color: #201d29;
}
  
body {
    height: 100%;
    background-color: #201d29;
}

#all {
    overflow: hidden;
}

.bottom{
    background-color: #201d29;
}
  
.jason{
    size: 1px;
}
  
.top{
    background-color: #171321;
    width: 100%;
    position: relative;
}
#jason_logo{

    left: 4%;
    bottom: 20px;
}

#jason_search{
    position: absolute;
    right: 10px;
    top: 20px;
    size: 1000px;
    overflow: hidden;
    white-space: nowrap;
}
.episodes{
    font-size: 35px;
    color: white;
    top: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.schedule{
    font-size: 35px;
    color: white;
    top: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.store{
    font-size: 35px;
    color: white;
    top: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.blog{
    font-size: 35px;
    color: white;
    top: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.tips{
    font-size: 35px;
    color: white;
    top: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

#episode {
    position: absolute;
    color: white;
    right: 1000px;
    bottom: 10px;
}

#schedule {
    position: absolute;
    color: white;
    right: 800px;
    bottom: 10px;
}

#store {
    position: absolute;
    color: white;
    right: 650px;
    bottom: 10px;
}

#blog {
    position: absolute;
    color: white;
    right: 500px;
    bottom: 10px;
}

#tips {
    position: absolute;
    color: white;
    right: 200px;
    bottom: 10px;
}

h6 {
    background: linear-gradient(to right, pink 0% 10%, yellow 50%, yellow 0% 20%, white 80% 79%, rgb(66, 231, 187) 89% 100%)
}
#purple_1{
      color: white;
      font-family: jwf, -apple-system, BlinkMacSystemFont, "Segoe UI";
      text-shadow: 0 0 30px #fe6cc8;
      position: relative;
      top: -23px;
      left: 33.5%;
      font-size: 130px;
      font-weight: 1000;
      letter-spacing: -11.5px;
      word-spacing: -9px;
}
  
#purple_2{
      color: white;
      font-family: jwf, -apple-system, BlinkMacSystemFont, "Segoe UI";
      position: relative;
      text-shadow: 0 0 30px #fa5ac0;
      bottom:200px;
      left: 31.5%;
      font-size: 130px;
      font-weight:1000;
      letter-spacing: -11.5px;
      word-spacing: -9px;
}

b{
      color: #d4d0e0;
      font-family: jwf, -apple-system, BlinkMacSystemFont, "Segoe UI";
      font-size: 40px;
}
#teachers {
    margin-top: -30px;
    margin-left: 3.5%;
}
#line {
    margin-left: 6%;
    margin-top: -255px;

}
.bottom_jason{
  
      color: #d4d0e0;
      font-family: jwf, -apple-system, BlinkMacSystemFont, "Segoe UI";
      font-size: 40px;
      position: relative;
      left: 26%;
}
  
.jason{
      position: relative;
      left: 1000px;
}
  
#twitch{
    position: absolute;
    left: 43%;
    size: 100px;
    margin-top: 100px;
}
  
#youtube{
    position: absolute;
    left: 50%;
    size: 100px;
    margin-top: 100px;
}
  
#twitter{
    position: absolute;
    left: 57%;
    size: 100px;
    margin-top: 100px;
}
  